@import "./theme.sass"

html
  height: 100%

body
  font-family: sans-serif
  background-color: $primary-bg
  color: $primary-color
  margin: 3rem 10rem 1rem

button
  background-color: $secondary-bg
  color: $secondary-color
  border: none
  border-radius: 0.33rem
  padding: 0.33rem 1rem
  min-width: 10rem
  position: relative
  @include reactive-overlay
  